@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.chatChild{
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    margin-top: 10px;
    width: 100% !important;
    height: 40vh;
    font-size: 13px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profilePicture {
    height: 30px;
}

.imageCol {
    flex: 0 0 60px
}

.messageSent {
    background-color: #01a0e1;
    color: #dff3fa;
    max-width: 150px;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
}

.messageReceived {
    background-color: #f5f9fa;
    color: black;
    max-width: 300px;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
}

.messageInput {
    font-size: 13px;
}
  
