.messages-container{
    padding-left: 2vh;
    padding-right: 2vh;
}
p.person1 {
    margin-left: auto; 
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(239, 239, 239);
    background-color: rgb(239, 239, 239);
    max-width: 30%;
    text-align: left;
    min-width: min-content;
    padding-left: 2vh;}

 p.person2 { 
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(83, 234, 227);
    background-color: rgb(83, 234, 227);
    max-width: 30%;
    text-align: left;
    min-width: min-content;
    padding-left: 2vh;}

#newtext{
    /*width: 75%;*/
    margin-left:2%;
}

#submit{
    margin-left: auto;
}

.flex {
    display: flex;
    flex-direction: row;
 }