@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
}

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
}