@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.my-card{
    width:max-content;
}

.my-btn{
    background-color: white;
    border-color: white;
}

.my-modal-header{
    background-color: #BCBCBC;
}

.my-modal-footer{
    background-color: #BCBCBC;
}

.my-modal-body{
    background-color: #F5F5F5;
}